:root {
  --primary: #333;
  --secondary: #8a86ac;
  --background: white;
  --card: #f7f5ff;
}

body {
  background-color: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.mb-2 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 30px;
}

h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

ol {
  padding-inline-start: 20px;
}

li {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

li::marker {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.row {
  display: flex;
  flex-direction: row;
}

.secondary {
  color: var(--secondary);
  font-weight: 300;
}

.layout > .content {
  padding: 0 15px 15px 15px;
  min-height: calc(100vh - 54px);
}

.cover {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}

@media only screen and (min-width: 992px) {
  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .layout > .content {
    width: 600px;
  }
}
